.close {
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

.minimize{
        -fx-background-color: transparent;
	-fx-cursor: hand;
}

.close:hover {
	-fx-background-color: #ff3547;
}

.minimize:hover {
	-fx-background-color: #2e2d2d;
}

.table-view {
	-fx-background-color: transparent;
	-fx-border-color: #262626;
	-fx-border-radius: 8px;
	-fx-padding: 0px;
}
.table-view .table-column {
	-fx-alignment: CENTER;
}
.table-view .column-header-background {
	-fx-background-color: #262626;
	-fx-background-insets: 0 0 0 0;
	-f-background-radius: 8px 8px 0px 0px;
}
.table-view .column-header,
.filter {
	-fx-background-color: transparent;
	-fx-size: 40px;
}
.table-view .column-header .label {
	-fx-text-fill: #fff;
	-fx-font-family: 'Arial';
}

.jfx-text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: gray; 
}

.combo-box,
.choice-box {
    -fx-font-size: 13px;
    -fx-font: 'Arial';
    -fx-prompt-text-fill: #5e4c4c;
    -fx-text-fill: #5e4c4c;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #4d4d4d;
    -fx-padding: 0 0 3 -8;
}

.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: #32324e;
}

.combo-box .arrow,
.choice-box .arrow {
    -fx-background-color: #4d4d4d;   
}
